core-data-model/src/main/resources/META-INF/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://example.org/api"
            xmlns:tns="http://example.org/api"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            jaxb:extensionBindingPrefixes="xjc">

    <xsd:complexType name="test">
        <xsd:sequence>
            <xsd:element name="created" type="tns:created" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="created" type="tns:created"/>
    <xsd:complexType name="created">
        <xsd:attribute name="time" type="xsd:dateTime"/>
    </xsd:complexType>


</xsd:schema>
